.coluna{
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
}
.coluna2{
    width: 100% !important;
}
.titulo-tabela{
    color: #111;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.625em;
    font-weight: Bold;
    letter-spacing: -0.04em;
    margin-top: 10px;
    margin-bottom: 10px;
}
table{
    border-spacing: 0px;
}

tr{
    padding: 0px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.dados{
    padding: 0px;
    width: 10px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.posicao{
    padding: 0px;
    width: 20px;
    height: 55px;
    text-align: center;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.time{
    padding: 0px;
    width: 300px;
    height: 55px;
    text-align: left;
    font-size: 17px bold;
    font-family: 'opensans', sans-serif;
    border-bottom: 1px solid silver;
}
.logo{
    margin:0 8px 0 8px;
    width: 30px;
    height: 30px;
}
.logocaixa{
    padding: 0px;
    width: 10px;
    height: 55px;
    font-size: 17px bold;
    border-bottom: 1px solid silver;
}
.nomeTime{
    text-align: left;
}
.ultJogos {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-left: 4px;
    overflow: hidden;
    width: 7px;
}
.vitoria {
    background-color: #51a81e;
}
.empate {
    background-color: #ccc;
}
.derrota {
    background-color: #f00;
}

.tabela-lista-jogos{

    padding-left: 32px;
    margin-left: 32px;
    border-left: solid 1px #ddd;

}
.lista-jogos-titulo{
    color: #111;
    font-family: 'ProximaNova', sans-serif;
    font-size: 1.625em;
    font-weight: Bold;
    letter-spacing: -0.04em;
    margin-top: 10px;
    margin-bottom: 10px;
}
